@import "button";
body {
  width: 100vw;
  height: 100vh;
  background-color: rosybrown;
  margin: 0;
  overflow: hidden;
}

.apskr {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute;
  transition: all 5s cubic-bezier(0.25, 1.55, 1, -1.68);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  text-shadow: black;
}

section {
  height: 100px;
  background-color: lightcoral;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .clicks {
    span {
      font-size: 60px;
      color: gray;
    }
    strong {
      font-size: 60px;
      font-family: "Courier New", Courier, monospace;
      color: darkred;
      font-weight: bold;
    }
  }
  .counter {
    span {
      font-size: 60px;
      color: gray;
    }
    strong {
      font-size: 60px;
      font-family: "Courier New", Courier, monospace;
      color: darkred;
      font-weight: bold;
    }
  }
  .timer {
    span {
      font-size: 60px;
      color: gray;
    }
    strong {
      font-size: 60px;
      font-family: "Courier New", Courier, monospace;
      color: darkred;
      font-weight: bold;
    }
  }
}
