.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
  border: none;
  cursor: pointer;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rosybrown;
  margin: 0;
  overflow: hidden;
}

.apskr {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute;
  transition: all 5s cubic-bezier(0.25, 1.55, 1, -1.68);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  text-shadow: black;
}

section {
  height: 100px;
  background-color: lightcoral;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
section .clicks span {
  font-size: 60px;
  color: gray;
}
section .clicks strong {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  color: darkred;
  font-weight: bold;
}
section .counter span {
  font-size: 60px;
  color: gray;
}
section .counter strong {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  color: darkred;
  font-weight: bold;
}
section .timer span {
  font-size: 60px;
  color: gray;
}
section .timer strong {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  color: darkred;
  font-weight: bold;
}
